{{ define "home" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{.Login}}</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/sakura.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <h2>{{.Name}}</h2>
    <a href="https://github.com/{{.Login}}">
        <h1>{{.Login}}</h1>
    </a>

    <hr />
    <h3>Latest Github projects:</h3>
    <h4>Total: {{len .Repos}} projects</h4>
    <div class="projects-list">
        {{ range $key, $value := .Repos }}
        <div>
            <a href="{{.Link}}">{{.Label}}</a>
        </div>
        {{ end }}
    </div>
</body>

</html>
{{end}}